/*body{
	height: 100vh;
	box-sizing: border-box;
}*/

body {
	font-family: 'Noto Serif', serif;
}

.container {
	margin: auto;
	height: 95vh;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.header {
	font-family: 'Source Sans Pro', sans-serif;
}
