html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	background-color:#F5F5F5;
	margin: 0;
}

main {
	max-width: 680px;
}


/* ===== FONTS ===== */
body {
	font-family: 'Noto Serif', serif;
}

.title,
.subtitle,
.date,
.it-me {
	font-family: 'Source Sans Pro', sans-serif;
}


/* ===== FONT SIZES ===== */
article > .title {
	font-size: 2em;
	margin-bottom: 48px;
}

section > .title {
	font-size: 1.45em;
	font-weight: bold;
}

section > .subtitle,
section > .date {
	font-size: 1.15em;
}

/* ===== VERTICAL SPACING ===== */
section {
	margin-bottom: 48px;
}

article {
	margin-bottom: 128px;
}

li {
	margin-bottom: 0.32em;
}

/* ===== HORIZONTAL SPACING ===== */
.main-container {
	display: flex;
	justify-content: center;
}

.content-margin {
	margin-left: 24px;
	margin-right: 24px;
}

ul {
	padding-left: 20px;
}

@media only screen and (min-width: 730px) {
	.content-margin  {
		margin-left: 48px;
		margin-right: 48px;
	}

	ul {
		padding-left: 40px;
	}
}

@media only screen and (min-width: 910px) {
	.content-margin  {
		margin-left: 64px;
		margin-right: 64px;
	}
}


/* ====== FOOTER ====== */
a, .text-decoration-none:hover {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:-webkit-any-link {
	color: inherit;
}

footer {
	color: #FAFAFA;
	background: #212121;
	height: 92px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.external-link {
	display: inline-block;
	padding-left: 24px;
	padding-right: 24px;
}

.btn-icon {
	cursor: pointer;
}

