html {
  box-sizing: border-box;
  font-size: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
	background-color:#F5F5F5;
	font-family: 'Noto Serif', serif;
	margin: 0;
}

main {
	margin-left: 24px;
	margin-right: 24px;
	max-width: 720px;
}

@media screen and (min-width: 744px){
	main {
		margin: auto;
	}
}

article {
	margin-bottom: 128px;
}

article > h3 {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 3em;
}

article > .header {
	font-family: 'Source Sans Pro', sans-serif;
}

section {
	margin-bottom: 2em;
}

section > .header.main-header {
	font-size: 1.5em;
	font-weight: bold;

}

section > .header.sub-header {
	font-size: 1.1em;
}

li {
	margin-bottom: 0.3em;
}

.btn-icon {
	color: #424242;
}
.btn-icon:hover {
	color: #212121;
}

.cursor-pointer {
	cursor: pointer;
}

footer {
	overflow: auto;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: flex-end;
	margin-bottom: 1.5em;
}

.footer-left {
	float: left;
	bottom: 0;
	height: 100%;
}

.footer-right {
	float: right;
	display: inline-block;
}

.it-me {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.3em;
}

.flip-180 {
	-moz-transform: scale(-1, 1);
    -o-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    transform: scale(-1, 1);
}
